<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CollectionSelections</key>
	<dict>
		<key>55B56CB2-2E11-4259-BA02-E2204B881DA2</key>
		<array>
			<string>513381F7-05CA-4F2C-B850-C67BF7A9FB15</string>
		</array>
	</dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 530}}</string>
		<string>{{266, 0}, {798, 530}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>008FF318-55F0-4A4C-9246-B5ED1680BFF8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2D8B1E96-9A55-47CF-BFF7-4E2F3B88E1D3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4410F3C8-8A38-4A96-8537-458D03169565</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>513381F7-05CA-4F2C-B850-C67BF7A9FB15</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>55D2A41A-7B4F-456B-8203-EB2E159C20B2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5FBDC2A6-BE05-4A4B-AEFB-0298FD7B5227</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>62D303E2-66BB-48AD-A77B-06169CA319B8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6F69E5EE-889E-4020-A63F-429BA176837D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B98BF5B9-98D8-49E6-9115-184EFD44C720</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CB7E7A47-E464-4E4E-8B1B-C9205603D1B0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D7AA771A-9DEF-40F1-AA4A-34709FE28B52</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DA84CDE7-35B8-4744-A910-54FA9A9C9F6B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionSelectionAutosaveName</key>
	<array>
		<integer>1</integer>
	</array>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {288, 640}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>35 315 1064 552 0 0 1440 877 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
